
vulkan-learning/TriangleBasics/TriangleBasics.VC.VC.opendb
vulkan-learning/TriangleBasics/TriangleBasics.VC.db
vulkan-learning/TriangleBasics/TriangleBasics/x64/Debug/TriangleBasics.log
vulkan-learning/TriangleBasics/TriangleBasics/x64/Debug/TriangleBasics.log
vulkan-learning/TriangleBasics/TriangleBasics/x64/Debug/TriangleBasicsApp.obj
vulkan-learning/TriangleBasics/TriangleBasics/x64/Debug/vc140.idb
vulkan-learning/TriangleBasics/TriangleBasics/x64/Debug/vc140.pdb
vulkan-learning/TriangleBasics/TriangleBasics/x64/Release/TriangleBasics.log
vulkan-learning/TriangleBasics/TriangleBasics/x64/Release/TriangleBasics.tlog/link.read.1.tlog
vulkan-learning/TriangleBasics/TriangleBasics/x64/Release/TriangleBasicsApp.obj
*.pdb
*.ipdb
*.iobj
*.ilk
vulkan-learning/TriangleBasics/TriangleBasics/x64/Debug/TriangleBasics.tlog/link.read.1.tlog
